/* ==================== GENERAL STYLES ====================== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

body {
    font-family: Roboto, sans-serif;
    background: #fff;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.main-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.section-paddings {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* ==================== HEADER ====================== */

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.page-header-container {
    display: flex;
    align-items: center;
}

.page-navigation {
    display: flex;
    align-items: center;
}

.nav-link-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.accent {
    color: #2e2f42;
}

.nav {
    font-weight: 500;
    display: flex;
    gap: 40px;
}

.nav-link {
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
}

.nav-link:hover, .nav-link:focus {
    color: #404bbf;
}

.header-addres {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    color: #434455;
}

.address-link:hover, .address-link:focus {
    color: #404bbf;
}

.nav-link:active {
    color: #404BBF;
}


/* ==================== Typography ====================== */



.main-advant-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}




.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text {
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

/* ==================== MAIN-HERO ====================== */

.main-hero {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background: #2e2f42;
}

.hero-container {
    padding-top: 188px;
    padding-bottom: 188px;
    padding-left: 331px;
    padding-right: 331px;
}

.main-hero-header {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
}

.main-hero-button {
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    display: block;
    margin: 0 auto;
}

.main-hero-button:hover, .main-hero-button:focus {
    background-color: #404BBF;
    }

.main-hero-button:active {
    color: #404BBF;
}

/* ==================== main-advant ====================== */


/* ==================== main-team ====================== */
.main-team {
    background: #f4f4fd;
    text-align: center;
}

.main-team-list-item {
    background-color: #FFFFFF;
}

/* ==================== Portfolio ====================== */
.main-portfolio {
    text-align: center;
}

/* ==================== footer ====================== */
.footer {
    color: #f4f4fd;
    background: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
    
.footer-accent {
    color: #f4f4fd;
}
